# Only alias ls for Linux
[[ $(uname) == "Linux" ]] && alias ls='ls --color=auto'
alias icanhazip='curl icanhazip.com'
alias gcb='git checkout -b'
alias gits='git status'
alias gitp='git push --force-with-lease'
